.Paging {
  clear: left;
  display: flex;
  justify-content: center;  
  align-items: center;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffb367;

  button {
    margin: 5px 15px 5px 15px;
    background-color: #ffe277;
    color: black;
    font-size: 16px;
    text-align: center;
  }

  button:disabled {
    background-color: #ffe2bc;
  }
}